# Exploring Data from Favate et al. 2021

In [1]:
import numpy as np 
import pandas as pd 
import diaux.viz 
import altair as alt 
colors, palette = diaux.viz.altair_style()

In [3]:
reads = pd.read_csv('../../data/Favate2021/TableS1_read_counts.csv')
reads.head()

   repl seqtype   line target_id  est_counts  eff_length  length           tpm
0  rep1    ribo  Ara-1      alaT        5005     51.9997      76  11248.254541
1  rep1    ribo  Ara-1      alaU        5005     51.9997      76  11248.254541
2  rep1    ribo  Ara-1      alaV        5005     51.9997      76  11248.254541
3  rep1    ribo  Ara-1      alaW        1345     51.9997      76   3022.757714
4  rep1    ribo  Ara-1      alaX        1345     51.9997      76   3022.757714